<a href="https://colab.research.google.com/github/krishnatushar/CRT-program/blob/master/python_Colaboratory_day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print("welcome to python programming")

welcome to python programming

In [0]:
x=198273829463287643298
print(x)
print(type(x))

198273829463287643298
<class 'int'>

In [0]:
x=112.3
y="tushar"
print(type(y))
print(type(x))

<class 'str'>
<class 'float'>

#Data types of python programming
### class-int ,float , str

In [0]:

s="welcome to python programming"
s1="application"
print(s)
print(s1)
print(type(s))
print(type(s1))

welcome to python programming
application
<class 'str'>
<class 'str'>

# Datatype conversion
## -int()
### int() converts the input into int class
## -str()
### str() converts the input into str class
## float()
### float() converts the input into float class

In [0]:
#DATA TYPE CONVERSION
x="24.76656565"
print(x,end=' ')
print(type(x))
y=float(x)
print(y,end=' ')
print(type(y))
z=int(y)
print(z,end= ' ')
print(type(z))

24.76656565 <class 'str'>
24.76656565 <class 'float'>
24 <class 'int'>

# Input methods of python
 * input() reads the input in terms of string type
 * use the conversion methods to convert into respective type

In [0]:
s=input ("enter your name")
print(s, end=' ')
print(type(s))

enter your name 43
 43 <class 'str'>

In [0]:
a=int(input('enter your name'))
print(a,end=' ')
print(type(a))

enter your name76
76 <class 'int'>

In [0]:
b=float(input('enter your name'))
print(b,end=' ')
print(type(b))

enter your name76
76.0 <class 'float'>

#Control flow statements
- Conditional statements
 - if else
- Looping statements
 - while
 - for

In [0]:
a=int(input('enter the number'))
if a%2==0: 
  print("even")
else:
  print("odd")

enter the number 76
even

In [0]:
age=int(input('enter the age'))
if age>=18 and age<=85:
    print("he or she is eligible for voting")
else:
  print("not eligible for voting")

enter the age 88
not eligible for voting

In [0]:
a=10
b=3
print(a/b)    # division but output is decimal
print(a//b)   # division with int value
print(a%b)    # modular division with output as remainder
print(a*10)   # multiplication
print(a**10)  # power

3.3333333333333335
3
1
100
10000000000

#Keywords in python
- and ,or , not , True , False

In [0]:
if True:
  print('hello')
else:
  print('bye')

hello

In [0]:
#READ TWO NUMBERS. IF FIRST NO IS GREATER THAN SECOND, O/P IS SQUARE OF SECOND NO 
x=int(input('enter the first number'))
y=int(input('enter the second number'))
if x>y:
  print(y*y)
else:
  print(x*x)

enter the first number5
enter the second number10
25

In [0]:
#READ A NUMBER AS INPUT. GIVE THE OUTPUT AS POSITVE OR NEGATIVE OR ZERO
x=int(input('enter the number'))
if x<0:
  print('the number is negative')
elif x>0:
  print('the number is positive')
elif x==0:
  print('the number is zero')

enter the number -7
the number is negative

In [0]:
a=10
if a>10:
  print('good')
elif a>20:
  print('better')
elif a>30:
  print('best')
else:
  print('nothing')

nothing

In [0]:
#sum of n natural numbers
n=int(input('enter the value'))
sum=0
start=1
while start<=n:
  sum+=start
  start+=1
print(sum)

enter the value5
15

In [0]:
#SUM OF N even NUMBERS
n=int(input('enter the value'))
i=1
while i<= n:
  if i%2==0:
    print(i,end=' ')
  i+=1

enter the value10
2 4 6 8 10

In [0]:
#print numbers from 1 to 10
a=1
while a<=10:
  print(a,end=' ')
  a+=1

1 2 3 4 5 6 7 8 9 10

In [0]:
#printing factors
n=int(input(''))
i=1
while i<=n:
  if n%i==0:
    print(i,end=' ')
  i+=1

12
1 2 3 4 6 12